.main-nav {
  margin-top: 55px;
  background: #fff;
  z-index: 9999;
}

.carousel-inner {
  height: 300px;
}

.carousel-caption {
  bottom: 65rem;
}

.page-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 128px 56px;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 2px;
  background: #fff;
  z-index: -9999;
  padding: 16px 32px
}

.footer-contacts {
  margin-left: 16px;
}
